.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.title {
    text-align: center;
    margin: 0;
}

.subtitle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 200px;
}

.msg {
    text-align: center;
    font-size:1.5em;
}

#message {
    width: 200px;
}
